<script defer src="js/editoras/index.js"></script>

<section id="listagem_editoras" class="bg-light rounded p-3">
    <header class="border-bottom pb-2">
        <div class="text-end">
            <button id="adicionar" 
            class="btn btn-primary btn-sm">
                Adicionar
            </button>
        </div>
    </header>

    <div class="p-3">
        <table id="tb_editoras" 
        class="table table-hover table-responsive w-100">
            <thead>
              <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Editora</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
              </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</section>

<section id="template_editoras" class="bg-light rounded p-3 d-none">
    <header class="border-bottom mb-3">
        <label class="fs-2"></label>
    </header>
    <form role="form" id="form_editora">
        <div class="row">
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_razaoSocial" 
                    class="form-label">Razão Social
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_razaoSocial" 
                    name="editora_razaoSocial" 
                    value=""
                />
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_nomeFantasia" 
                    class="form-label">
                        Nome Fantasia
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_nomeFantasia" 
                    name="editora_nomeFantasia" value=""
                />
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_documento" 
                       class="form-label">
                    Documento
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_documento" 
                    name="editora_documento"
                    maxlength="18"
                    placeholder="00.000.000/0000-00"
                    oninput="formatarCnpj()"
                    onblur="validarCnpj()"
                />
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_telefone" 
                       class="form-label">
                    Telefone
                </label>
                <input 
                    type="tel"                    
                    maxlength="14"
                    class="form-control" 
                    id="editora_telefone" 
                    name="editora_telefone"
                    placeholder="(00) 0000-0000"
                    oninput="validarTelefone()"
                >
                
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_email" 
                       class="form-label">
                    E-mail
                </label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="editora_email" 
                    name="editora_email" 
                    onblur="validarEmail(this.value)"
                    required
                />
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="cep"
                       class="form-label"
                >   CEP
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_cep" 
                    name="editora_cep" 
                    oninput="buscarEndereco(this.value)"
                >
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_logradouro" class="form-label">Logradouro</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_logradouro" 
                    name="editora_logradouro" 
                    value=""
                >
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_numero" class="form-label">Número</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_numero" 
                    name="editora_numero" 
                    value=""
                >
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_complemento" class="form-label">Complemento</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_complemento" 
                    name="editora_complemento" 
                    value="N/A">
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_bairro" class="form-label">Bairro</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_bairro" 
                    name="editora_bairro" 
                    value="">
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_municipio" class="form-label">Município</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_municipio" 
                    name="editora_municipio"
                    value="">
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="editora_uf" class="form-label">UF</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editora_uf" 
                    name="editora_uf" 
                    value="">
            </div>

            <footer class="text-end border-top pt-3">
                <button type="reset" id="limpar" class="btn btn-danger btn-sm">Limpar</button>
                <button type="button" id="voltar" class="btn btn-warning btn-sm">Voltar</button>
                <button type="submit" id="salvar" class="btn btn-success btn-sm">Salvar</button>
            </footer>
        </div>
    </form>
</section>

