<script defer src="js/autores/index.js"></script>

<section id="listagem_autores" class="bg-light rounded p-3">
    <header class="border-bottom pb-2">
        <div class="text-end">
            <button id="adicionar" class="btn btn-primary btn-sm">Adicionar</button>
        </div>
    </header>
    
    <div class="p-3">
        <table id="tb_autores" class="table table-hover table-responsive w-100">
            <thead>
              <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Nome Fantasia</th>
              </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</section>

<section id="template_autor" class="bg-light rounded p-3 d-none">
    <header class="border-bottom mb-3">
        <label class="fs-2"></label>
    </header>
    <form role="form" id="form_autor">
        <div class="row">
            <div class="col-md-6 col-xs-12 mb-3">
                <label for="nome_autor" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome_autor" name="nome_autor" value=""/>
            </div>
            <div class="col-md-6 col-xs-12 mb-3">
                <label for="nome_fantasia" class="form-label">Nome Fantasia</label>
                <input type="text" class="form-control" id="nome_fantasia" name="nome_fantasia" value=""/>
            </div>
           

            <footer class="text-end border-top pt-3">
                <button type="reset" id="limpar" class="btn btn-danger btn-sm">Limpar</button>
                <button type="button" id="voltar" class="btn btn-warning btn-sm">Voltar</button>
                <button type="submit" id="salvar" class="btn btn-success btn-sm">Salvar</button>
            </footer>
        </div>
    </form>
</section>
