<script defer src="js/livros/index.js"></script>

<section id="listagem_livros" class="bg-light rounded p-3">
    <header class="border-bottom pb-2">
        <div class="text-end">
            <button id="adicionar" class="btn btn-primary btn-sm">Adicionar</button>
        </div>
    </header>
    
    <div class="p-3">
        <table id="tb_livros" class="table table-hover table-responsive w-100">
            <thead>
              <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Subtítulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Editora</th>
                <th scope="col">Unidades</th>
              </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</section>

<section id="template_livro" class="bg-light rounded p-3 d-none">
    <header class="border-bottom mb-3">
        <label class="fs-2"></label>
    </header>
    <form role="form" id="form_livro">
        <div class="row">
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="livro_titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="livro_titulo" name="livro_titulo" value=""/>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="livro_subtitulo" class="form-label">Subtítulo</label>
                <input type="text" class="form-control" id="livro_subtitulo" name="livro_subtitulo" value=""/>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="livro_autores" class="form-label">Autores</label>
                <input type="text" class="form-control" id="livro_autores" name="livro_autores" value=""/>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="livro_generos" class="form-label">Gêneros</label>
                <input type="text" class="form-control" id="livro_generos" name="livro_generos" value=""/>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="livro_editora" class="form-label">Editora</label>
                <input type="text" class="form-control" id="livro_editora" name="livro_editora" value=""/>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="livro_paginas" class="form-label">Nº Páginas</label>
                <input type="number" min="1" class="form-control" id="livro_paginas" name="livro_paginas" value=""/>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="livro_isbn" class="form-label">ISBN</label>
                <input type="text" class="form-control" id="livro_isbn" name="livro_isbn" value=""/>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
                <label for="livro_unidades" class="form-label">Nº Unidades</label>
                <input type="number" min="0" class="form-control" id="livro_unidades" name="livro_unidades" value=""/>
            </div>
            <div class="col-md-12 col-xs-12 mb-3">
                <label for="livro_descricao" class="form-label">Descrição</label>
                <textarea type="text" class="form-control" id="livro_descricao" name="livro_descricao" rows="5" value=""></textarea>
            </div>

            <footer class="text-end border-top pt-3">
                <button id="voltar" class="btn btn-warning btn-sm">Voltar</button>
                <button id="salvar" type="submit" class="btn btn-success btn-sm">Salvar</button>
            </footer>
        </div>
    </form>
    
</section>
